{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Store Manager{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'StoreManager/css/base.css'%}" type="text/css">
</head>
<body>
<header>{% block header %}Bienvenue, {{username}} !{% endblock %}</header>
<form method="post">
{% csrf_token %}
<section id="content">
    {% block content %}
    <div style="overflow-x:auto;">
    <table >
        <tr>
            {% for h in header %}
            <th>{{h}}</th>
            {% endfor %}
        </tr>
        {% for d in data %}
        <tr>
            <td><input type="checkbox" name="action_product" value="{{ d.id }}" />&nbsp;</td>
            <td> <div contenteditable> <input type="text" name="name_product" value="{{ d.name }}"> </div> </td>
            <td> <div contenteditable> <input type="number" name="price_product" value="{{ d.price }}"> </div> </td>
            <td> <div contenteditable> <input type="number" name="quantity_product" value="{{ d.quantity }}"> </div> </td>
            <td> <div contenteditable> <input type="text" name="ref_product" value="{{ d.ref }}"> </div> </td>
            <td> {{ d.department.name }}</td>
        </tr>
        {% endfor %}
    </table>
        </div>
    {% endblock %}

</section>
<section id="button">
    <input type="submit" name="add_product" value="Add"/>
    <input type="submit" name="modify_product" value="Modify"/>
    <input type="submit" name="delete_product" value="Delete"/>
</section>
</form>
</body>
</html>