{% extends "StoreManager\base.html" %}
{%block tab %}

<section id="content">
    <div style="overflow-x:auto;">
    <table >
        <tr>
            {% for h in header %}
            <th>{{h}}</th>
            {% endfor %}
        </tr>
        {% for d in data %}
        <tr>
            <td><input type="checkbox" name="action_user" value="{{ d.id }}" />&nbsp;</td>
            <td> <div contenteditable> <input type="text" name="name_user" value="{{ d.user.username }}"> </div> </td>
            <td> <div contenteditable> <input type="password" name="password_user" value="00000000"> </div> </td>
            <td> <div contenteditable> <input type="number" name="phone_user" value="{{ d.phonenumber }}"> </div> </td>
            <td> <div contenteditable> <input type="text" name="email_user" value="{{ d.user.email }}"> </div> </td>
            <td> <div contenteditable> <input type="text" name="dept_user" value="{{ d.department.name }}"> </div> </td>
            <td> {{ d.user.date_joined }} </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</section>

{% endblock %}